# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.pt
*.pth
*.feather
*.png
*.pdf
*.spm
*.ipynb

*.cache
*.vscode

.cache

# Large datasets

CODE/
plots/
data/

Classifier/data/
Classifier/plots/
Classifier/Categorizer_results/



Classifier_all_in_one/.cache/
Classifier_all_in_one/Categorizer_results/
Classifier_all_in_one/CODE/
Classifier_all_in_one/plots/
CustomLogging/

FakeFaktor/
Helper/
data/

Normalizing_Flow_et/plots/
Normalizing_Flow_et/.cache/
Normalizing_Flow_et/CODE/
Normalizing_Flow_et/FF_results/
Normalizing_Flow_et/NF_results/
Normalizing_Flow_et/NF_results_new/
Normalizing_Flow_et/Training_results/
Normalizing_Flow_et/Training_results_new/

Normalizing_Flow_mt/data/
Normalizing_Flow_mt/results_jet_comparison/
Normalizing_Flow_mt/results_njets_0/
Normalizing_Flow_mt/results_njets_1/
Normalizing_Flow_mt/results_njets_2/
Normalizing_Flow_mt/results_no_njet_discrimination/
Normalizing_Flow_mt/src/CODE/
Normalizing_Flow_mt/src/FF_results/
Normalizing_Flow_mt/src/NF_results/
Normalizing_Flow_mt/src/NF_results_new/
Normalizing_Flow_mt/src/Training_results/
Normalizing_Flow_mt/src/Training_results_new/


logs/

data/
src/FF_results
src/NF_results
src/Training_results
src/*.spm

# logs
*.log

results*/